.profile {
    margin-bottom: 20px;
}

.avatar{
    display: block;
    max-width: 100%;
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}



.name{
    
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: black;
    /* margin-top: 20px; */
    margin-bottom: 10px;
}
.profile{
    width: 246px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.description{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightcyan;
}

 .tag{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 10px;

} 
.location{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
} 


.stats{
    display: flex;
    align-items: center;
    /* list-style-type: none; */
}
li {
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    border: 1px solid black;
 
}




