
th{
    width: 200px;
    padding: 10px;
    background-color: gray;
    border: 1px solid black;
}
td{
    width: 200px;
    padding: 10px;
    /* background-color: rgb(156, 148, 57); */
    background-color: lightgray;
    text-align: center;
    border: 1px solid black;
}